/* NAVBAR */

nav {
    background-color: #3993DD;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
}
.nombre-ecommerce {
    color: #FFF9EF;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 0.5rem;
}

nav ul li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #FFF9EF;
    margin: 0.5rem;
}

/* CART WIDGET */

.cart-widget {
    background-color: #FFF9EF;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

/* ITEM LIST CONTAINER */

.greeting{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}